{% extends "base.html" %}

{% block content %}
<p class="alert alert-info">您已登出!!</p>  
<a href="{% url 'login'%}" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> 請按此處重新登入</a>
{% endblock %}