{% extends "base.html" %}

{% block content %}
{% if form.errors %}
<script>
  M.toast(
    {
      html: '帳號或密碼不符合，請再試一次。'
    }
  )
</script>
{% endif %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <h3>請輸入您的帳號密碼</h3>
  <div class="form-inline">
    <input name="username" autofocus="" required="" id="id_username" maxlength="254" type="text"
      class="form-control mr-2" placeholder="帳號">
    <input name="password" required="" id="id_password" type="password" class="form-control mr-2" placeholder="密碼">
    <button class="btn waves-effect waves-light" type="submit" name="action">登入
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>
{% endblock %}