{% extends "base.html" %}
{% block content %}
<div>
  <div class="col">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><i class="fas fa-id-card-alt mb-2"></i> 使用者簡單資料</span>
        <table class="striped">
          <tbody>
            <tr>
              <td>使用者名稱</td>
              <td>{{user.username}}</td>
            </tr>
            <tr>
              <td>帳號申請日期</td>
              <td>{{user.date_joined}}</td>
            </tr>
            <tr>
              <td>最後登入日期</td>
              <td>{{user.last_login}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-action">
        <div class="btn-group row" role="group" aria-label="Basic example">
          <a class="btn btn-primary" href="/"><i class="fas fa-home"></i> 首頁</a>
          <a class="btn btn-secondary" href="/admin/"><i class="fas fa-database"></i> 查看資料庫</a>
          <a class="btn btn-secondary" href="userinfo/"><i class="fas fa-id-card"></i> 使用者詳細資料</a>
          <a class="btn btn-secondary" href="{% url 'logout' %}" type="button"><i class="fas fa-sign-out-alt"></i>登出</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}