{% extends "base.html" %}
{% block content %}
<h2 class="font-weight-bold mb-4 mt-4">{{title}}</h2>
<table class="table table-striped table-hover container">
    <thead class="thead-dark">
        <tr>
            <th scope="col">項目</th>
            <th scope="col">內容</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>使用者名稱</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>姓氏</td>
            <td>{{user.last_name}}</td>
        </tr>
        <tr>
            <td>名字</td>
            <td>{{user.first_name}}</td>
        </tr>
        <tr>
            <td>電子郵件</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>使用者群組</td>
            <td>{{user.groups}}</td>
        </tr>
        <tr>
            <td>使用者權限</td>
            <td>{{user.user_permissions}}</td>
        </tr>
        <tr>
            <td>是否為工作人員</td>
            {% if user.is_staff %}
            <td>是</td>
            {% else %}
            <td>否</td>
            {% endif %}
        </tr>
        <tr>
            <td>是否為超級使用者</td>
            {% if user.is_superuser %}
            <td>是</td>
            {% else %}
            <td>否</td>
            {% endif %}
        </tr>
        <tr>
            <td>帳戶啟用狀態</td>
            {% if user.is_active %}
            <td>已啟用</td>
            {% else %}
            <td>未啟用</td>
            {% endif %}
        </tr>
        <tr>
            <td>帳號申請日期</td>
            <td>{{user.date_joined}}</td>
        </tr>
        <tr>
            <td>最後登入日期</td>
            <td>{{user.last_login}}</td>
        </tr>
    </tbody>
</table>

<a class="waves-effect waves-light btn" href="{% url 'logout' %}">
    <i class="fas fa-sign-out-alt"></i>登出
</a>
{% endblock content %}