{% extends "base.html" %}

{% block content %}
<div class="mb-2 mt-4">
    <h1 class="">{{ list_title }}</h1>
    {% if user.is_authenticated %}
        <a type="button" href="/machines/add_item" class="btn btn-success mt-2 ml-auto">新增裝置</a>
    {% endif %}
</div>

<table class="striped centered responsive-table">
    <thead class="thead-dark">
        <tr>
            <th>設備型號</th>
            <th>借出狀態</th>
            <th>詳細資訊</th>
        </tr>
    </thead>
    <tbody>
        {% for item in machineitem_list %}
        {% if item.get_type_of_machine_display == type_of_machine %}
        <tr>
            <td>
                {{ item.brand }}
            </td>
            <td>{{ item.get_now_machine_status_display }}</td>
            <td>{{ item.details }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}