{% extends "base.html" %}

{% block content %}
<script>
  $(document).ready(() => {
    $('select').formSelect();
    $('.datepicker').datepicker({
      format:"yyyy-mm-dd"
    });
    $(document).find("textarea").addClass("materialize-textarea");
  });

</script>
<h1 class="h1 mt-4 mb-4">新增設備</h1>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="table table-sm">
    {{ form.as_table }}
  </table>
  <input class="btn btn-hg btn-primary btn-block" type="submit" value="送出" />
</form>
{% endblock %}