<script>
  $(() => {
    $(document).ready(() => {
      $(".dropdown-trigger").dropdown();
      $('.sidenav').sidenav();
    });
  });
</script>

<ul id="machinedropdown1" class="dropdown-content">
  <li><a href="/machines/laptop">筆電</a></li>
  <li><a href="/machines/other">其他設備</a></li>
</ul>

<ul id="machinedropdown2" class="dropdown-content">
  <li><a href="/machines/laptop">筆電</a></li>
  <li><a href="/machines/other">其他設備</a></li>
</ul>

<ul id="userlistdropdown1" class="dropdown-content">
  <li><a href="/userlist/inschool">在職</a></li>
  <li><a href="/userlist/left">已離校</a></li>
</ul>

<ul id="userlistdropdown2" class="dropdown-content">
  <li><a href="/userlist/inschool">在職</a></li>
  <li><a href="/userlist/left">已離校</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">設備借用管理系統</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" href="#!" data-target="machinedropdown1">機型列表<i
            class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="userlistdropdown1">借用人列表<i
            class="material-icons right">arrow_drop_down</i></a></li>
      {% if user.is_authenticated %}
      <li>
        <a href="/panel">
          <i class="material-icons left">person</i> {{ user.username }}
        </a>
      </li>
      <li>
        <a href="{% url 'logout' %}" class="waves-effect waves-light btn">
          <i class="material-icons left">exit_to_app</i> 登出
        </a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'login' %}" class="waves-effect waves-light btn">
          <i class="material-icons left">login</i> 登入
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a class="dropdown-trigger" href="#!" data-target="machinedropdown2">機型列表<i
        class="material-icons right">arrow_drop_down</i></a></li>
  <li><a class="dropdown-trigger" href="#!" data-target="userlistdropdown2">借用人列表<i
        class="material-icons right">arrow_drop_down</i></a></li>
  {% if user.is_authenticated %}
  <li>
    <a href="/panel">
      <i class="material-icons left">person</i> {{ user.username }}
    </a>
  </li>
  <li>
    <a href="{% url 'logout' %}" class="waves-effect waves-light btn">
      <i class="material-icons left">exit_to_app</i> 登出
    </a>
  </li>
  {% else %}
  <li>
    <a href="{% url 'login' %}" class="waves-effect waves-light btn">
      <i class="material-icons left">login</i> 登入
    </a>
  </li>
  {% endif %}
</ul>